* {
    padding: 5px;
}

body {
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#game-container {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: #023047;
    padding: 20px;
    text-align: center;
    width: 450px;
    font-size: 18px;
}
h3, p {
    color: bisque;
}
button {
    font-size: 16px;
    color: white;
    background-color: #219ebc;
    border-radius: 8px;
    padding: 0.5em;
    border: none;
    font-weight: bold;
}
input {
    width: 60%;
    height: 50%;
}
::placeholder {
    color: #023047;
}
#result {
    margin-top: 20px;
    font-size: 15px;
    color: lightcoral;
}